.topNav-container {
  margin-left: 2em;

  display: flex;
  align-items: center;

  max-height: 4em;
}

.topNav-hr {
  margin-bottom: 3em;
  width: 103%;
  z-index: 9000;
}

.triangle-container {
  display: flex;
  width: 30em;
  z-index: 9000;
}

.topNav-option-container {
  display: flex;
  z-index: 9000;
}

.myProfileFlagContainer{
  height:50px;
  width:100%;
  padding-left: 1em;
  display: flex;
  flex-direction: row;
}
.myProfileFlag{
  height:50px;
  width:150px;
  /* background-color: #FA9292; */
  background: #d92b2b;
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  letter-spacing: 1px;
  font-weight: 500;
  border: none;
  font-size: 1em;
  cursor: pointer;
}
.two {
  background: #2b82d9;
}
.three {
  background: #2bd982;
}
.four {
  background: #822BD9;
}
.flagTriangle {
  width: 0;
  height: 0;
  border-bottom: 10px solid rgb(177, 13, 13);
  border-left: 10px solid transparent;
  margin-top: 3em;
}
.two-triangle{
  border-bottom: 10px solid #2475c7
}
.three-triangle{
  border-bottom: 10px solid #24c775
}
.four-triangle{
  border-bottom: 10px solid #5E09B3
}