@import url('https://fonts.googleapis.com/css?family=Montserrat');

.topNav-container {
  display: flex;
  // align-items: center;
  flex-direction: column;
  height: 6.5em;
  border-bottom: #d6d3d3 solid 1.5px;
  margin-bottom: 2.5em;
  .class-title {
    width: 100%;
    text-align: center;
    height: 6.5em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.8em;
    font-weight: 900
  }
  .container {
    display: flex;
    width: 30em;
    z-index: 9000;
    padding-left: 24px;
    .option {
      height: 35px;
      width: 100%;
      padding-left: 1em;
      display: flex;
      flex-direction: row;
      .triangle {
        width: 0;
        height: 0;
        border-bottom: 10px solid #667380;
        border-left: 10px solid transparent !important;
        margin-top: 1.7em;
        &.two {
          border-bottom-color: rgb(172, 0, 0);
        }
        &.three {
          border-bottom-color: #0062A8;
        }
        &.four {
          border-bottom-color: #00A344;
        }
      }
      button {
        height: 50px;
        width: 150px;
        font-family: Montserrat, sans-serif;
        /* background-color: #FA9292; */
        background: #667380;
        margin-top: 1.7em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        letter-spacing: 1px;
        font-weight: 500;
        border: none;
        font-size: 1em;
        cursor: pointer;
        outline: none;
        &.two {
          background: rgb(172, 0, 0);
        }
        &.three {
          background: #0062A8;
        }
        &.four {
          background: #00A344;
        }
      }
    }
    .option:hover {
      transform: scale(1.03);
    }
    
  }
}