.addEvent-component {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
}

.addEvent-container {
  padding: 3rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2000;
}

.addEvent-content {
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.create-event-button {
  width: 20rem;
  padding: .5rem 0rem
}

.empty-space {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top:0;
  left: 0;
  z-index: 1000;
}

.no-display {
    display: none;
}