.calendar-component {
    width: calc(100vw - 10rem);
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
}

.calendar-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-container {
    width: 20rem;
    height: 100%;
    border-left: 1px solid rgba(128, 128, 128, 0.404);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-event-button:hover {
    cursor: pointer;
}

.add-event-button {
    padding: .5rem 3rem;
    margin-top: 3rem;
}

.react-calendar {
    width: 15rem;
    word-wrap: 
}