.calendar-component {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 7rem; */
}

.calendar-container {
    width: calc(100vw - 23rem);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-container {
    height: 100%;
    /* border-left: 1px solid rgba(128, 128, 128, 0.404); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-event-button:hover {
    cursor: pointer;
}

.add-event-button {
    padding: .5rem 3rem;
}

.react-datepicker {
  margin-bottom: 1rem
}

.event-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  height: 8rem;
  min-height: 5rem;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 1rem;
  overflow-y: auto;
}

.event-list-item:hover .edit-event-icons {
  visibility: visible;
  cursor: pointer;
  /* transition-delay: .1s */
}

.editing-event {
  width: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .7rem;
}

.edit-event-container {
  visibility: hidden;
  width: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .7rem;
}

.event-list-item {
  display: flex;
  justify-content: space-between;
  width:90%;
  padding: .3rem 0rem .3rem 0rem;
  margin-left: .3rem;
  font-size: .8rem;
}

.assignment-list-item {
  display: flex;
  justify-content: space-between;
  width:90%;
  padding: .3rem 0rem .3rem 0rem;
  margin-left: .3rem;
  font-size: .8rem;
}

.daily-event-title {
  width: 80%;
  word-wrap: break-word
}

/* 
.rbc-addons-dnd .rbc-addons-dnd-row-body {
    position: relative;
  }

.rbc-addons-dnd .rbc-addons-dnd-drag-row {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.rbc-addons-dnd .rbc-addons-dnd-over {
  background-color: rgba(0, 0, 0, 0.3);
}
.rbc-addons-dnd .rbc-event {
  transition: opacity 150ms;
}
.rbc-addons-dnd .rbc-event:hover,
.rbc-addons-dnd .rbc-event:hover {
  display: block;
}
.rbc-addons-dnd .rbc-addons-dnd-dragged-event {
  opacity: 0;
}
.rbc-addons-dnd.rbc-addons-dnd-is-dragging .rbc-event:not(.rbc-addons-dnd-dragged-event):not(.rbc-addons-dnd-drag-preview) {
  opacity: .50;
}
.rbc-addons-dnd .rbc-addons-dnd-resizable {
  position: relative;
  width: 100%;
  height: 100%;
}
.rbc-addons-dnd .rbc-addons-dnd-resize-ns-anchor {
  width: 100%;
  text-align: center;
  position: absolute;
}
.rbc-addons-dnd .rbc-addons-dnd-resize-ns-anchor:first-child {
  top: 0;
}
.rbc-addons-dnd .rbc-addons-dnd-resize-ns-anchor:last-child {
  bottom: 0;
}
.rbc-addons-dnd .rbc-addons-dnd-resize-ns-anchor .rbc-addons-dnd-resize-ns-icon {
  display: none;
  border-top: 3px double;
  margin: 0 auto;
  width: 10px;
  cursor: ns-resize;
}
.rbc-addons-dnd .rbc-addons-dnd-resize-ew-anchor {
  position: absolute;
  top: 4px;
  bottom: 0;
}
.rbc-addons-dnd .rbc-addons-dnd-resize-ew-anchor:first-child {
  left: 0;
}
.rbc-addons-dnd .rbc-addons-dnd-resize-ew-anchor:last-child {
  right: 0;
}
.rbc-addons-dnd .rbc-addons-dnd-resize-ew-anchor .rbc-addons-dnd-resize-ew-icon {
  display: none;
  border-left: 3px double;
  margin-top: auto;
  margin-bottom: auto;
  height: 10px;
  cursor: ew-resize;
} */
/* 

.rbc-event {
  padding: 2px 5px;
  background-color: #ad313b;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.rbc-event.rbc-selected {
    background-color: #265985;
} */