

.class-parent-container {
  display: flex;
}

.class-parent-container ul {
  list-style: decimal;
}

.class-container {
  width: calc(100% - 7rem);
}

.class-information-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 50em;
}

.class-home-info-box {
  background: lightblue;
  margin: 2em;

  display: flex;
  flex-direction: column;
}

.class-home-box-title {
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
}

.class-home-list-assignment-box {
  padding-top: 1em;
  display: flex;
  justify-content: space-around;
  width: 95%;
  margin: 0 auto;
}

.upcoming-assignments-list-box {
  padding-left: 5em;
  padding-top: 1em;
  font-size: 1.2em;
}
