.navbar-container {
    width: 7rem;
    height: 100%;

    background: rgb(245, 245, 245);
    -webkit-box-shadow: 1px 0 5px -2px rgb(90, 89, 89);
          box-shadow: 1px 0 5px -2px rgb(90, 89, 89);

    position: relative;
    z-index: 4000;
}

.navbar-float {
    width: 7rem;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center
}

.navbar-container h2{
    font-size: .8rem;
    margin-top: .6rem
}

.navbar-option-container {
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem
    
}

.wb {
    height: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background: #d6d3d3; */
    background: white;
    margin-bottom: 3rem;
    border-bottom: #d6d3d3 solid 1.5px
    
}
.wb img{
    width: 4rem;
    height: 2.38rem;
}

.navbar-profile-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.Navbar-icon-container {
    height: 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: fixed; */
    left: 0;
    margin-top: 1rem;
    cursor: pointer;
}

.Navbar-icon-container > .navbar-font {
    font-size: 2.5em;
    color: rgb(110, 110, 110);
}


.Navbar-icon-container:active {
    transform: scale(.9)
}

.navbar-container a {
    color: black;
}

.Navbar-icon-container > .tooltiptext .tooltiptext:link .tooltiptext:visited {
    text-decoration: none !important;
}

.navbar-container a{
    text-decoration: none
}

#power-icon svg:hover{
    color: red;
}