.navbar-container {
    width: 10em;
    height: 100vh;

    background-color: #bada55;
}

.navbar-option-container {

    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}

.navbar-profile-img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.navbar-image {
    width: 6em;
}