.navbar-container {
    width: 7rem;
    height: 100%;

    background: rgb(245, 245, 245);
    -webkit-box-shadow: 1px 0 5px -2px rgb(90, 89, 89);
          box-shadow: 1px 0 5px -2px rgb(90, 89, 89);

    position: relative;
    z-index: 4000;
}

.navbar-option-container {
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 6rem
}

.navbar-profile-img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.Navbar-icon-container {
    height: 7rem;
    width: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 0;
    margin-top: 2rem
}

.Navbar-icon-container > .navbar-font {
    font-size: 2.2em;
    color: rgb(110, 110, 110);
}

.navbar-container a {
    color: black;
}

.Navbar-icon-container > .tooltiptext .tooltiptext:link .tooltiptext:visited {
    text-decoration: none !important;
}