.dashboard-component {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.class-tiles-container {
    /* width: calc(100% - 7rem); */
    padding-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}


.class-tiles-container a{
    text-decoration: none;
    height: 18em;
    
}

.class-tiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid lightgrey 1px;
    width: 16em;
    height: 15em;
    margin: 2em;
    border-radius: 1em;
    box-shadow: 0 10px 10px 0 rgba(0,0,0, .25),
                0 4px 4px 0 rgba(0,0,0, .25);
}

.class-tiles:hover {
    transform: scale(1.1);
    transition: 250ms;
}

.class-tiles-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33%;
    width: 100%;
    background: rgb(6, 73, 161);
    color: white;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    
}

.class-tiles-bottom {
    height: 67%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: .5em
}

.class-tiles-bottom-semester {
    height: 30%;
    width: 75%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: lightgray 1px solid;
    color: black;
    
}

.class-tiles-bottom-grades {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.dashboard-right-container {
    width: calc(100% - 7rem);
    height: 100%;
    display: flex;
    flex-direction: column;  
}

.dashboard-right-container header {
    height: 6.5rem;
    border-bottom: lightgrey solid 2px;

}

.myProfileFlagContainerD{
    height:50px;
    width:100%;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
}

.myProfileFlagD{
    height:50px;
    width:150px;
    /* background-color: #FA9292; */
    background: #414141;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    letter-spacing: 1px;
    font-weight: 500;
    margin-top: 6rem;
   
}

.flagTriangleD {
    width: 0;
    height: 0;
    border-bottom: 10px solid rgb(24, 23, 23);
    border-left: 10px solid transparent;
    margin-top: 6rem;
    margin-left: 0rem;
}

