.class-forum-container {
  margin-left: 3em;
  min-height: 100vh;
  .class-posts {
    background: rgb(255, 255, 255);
    width: 50em;
    margin: 0 auto;
    padding: 2em;
    border: double 2px grey;
    border-radius: .2em;
    margin-top: 6em
  }
    button {
      margin-top: -1em
    }
  .post {
    background: white;
    height: 5em;
    padding: .4em .5em;
    margin: 1em auto;
    display: flex;
    align-items: center;
    border: solid 1px grey;
    img {
      width: 3em;
      height: 3em;
      border-radius: 50%;
      border: 1px solid grey;
    }
    .info {
      display: flex;
      flex-direction: column;
      border-left: 1px solid grey;
      width: 100%;
      margin-left: 1em;
      padding-left: 1em;
      .title {
        display: flex;
        justify-content: space-between;
        h3 {
          font-weight: bold;
          font-size: 1em;
        }
        p {
          font-weight: bold;
        }
      }
      .details {
        width: 90%;
        margin: .1em;
        height: 1.5em;
        padding: .6em 0;
        font-size: 1em;
        display: flex;
        align-items: center;
      }
    }
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 3em;
      font-weight: bold;
    }
  }
}