.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background: rgb(245, 245, 245); */
    /* background-size: 100% 100%; */
    opacity: .8;
}
.login-register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin-bottom: 3.3rem;
   
}
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 24em;
    width: 25em;
    /* border: 1px solid black; */
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 14px 28px 0 rgba(0,0,0, .25),
                0 10px 10px 0 rgba(0,0,0, .26);
}
/* .login-container input {
    width: 75%;
    /* height: 10%; */
    /* font-size: 1.2em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-left: none;
    border-bottom: black solid 1px;
    background: transparent;
    outline: none; */
/* } */
/* .loginInput {
    height: 5px;
    font-size: 25px
} */
.login-container button {
    margin-top: .8em;
    width: 30%;
    height: 2.5em;
    color: rgba(0, 0, 0, 0.561);
    border: rgba(0, 0, 0, 0.561) solid 1.5px;
    font-size: 1.2em;
    background: transparent;
    margin-bottom: 15px;
    border-radius: 1rem;
    outline: none;
    font-weight: 600;
    cursor: pointer;
}
.login-container button:hover{
    background:  rgba(0, 0, 0, 0.561);
    border: rgba(0, 0, 0, 0) solid 1.5px;
    color: white;
    transition: 500ms;
}
.login-container button:active {
    transform: scale(0.90);
}
.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15em;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: white;
    padding: 1rem;
}
.login-register-container input{
    
    width: 15em;
    
}
#outlined-with-placeholder:focus {
    border-color: red;
}



