.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40em;
}

.login-register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15em;
    width: 15em;
    border: 1px solid black;

}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15em;
    border: 1px solid black;
}


.login-register-container input{
    height: 2em;
    margin-bottom: 1em
}



