.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1501163394770-4066ea13509b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right
}

.login-register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15em;
    width: 15em;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: white;
}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15em;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: white;
    padding: 1rem;
}


.login-register-container input{
    height: 2em;
    margin-bottom: 1em
}



